
.navbar-brand {
    font-weight:300;
    font-size: 38px;
}
.navbar-header .brand-name{
    color: black;
}
.menu{
    float: right;
    font-size: 20px;
    font-weight: 300;
    padding: 10px 30px 0;
    display: inline-block;
}

.nav.navbar-nav  li a {
    color: black;
}
.navbar-transparent{
    border: transparent;
    background: transparent;
}

.jumbotron {
     background: rgb(0, 0, 0); /* This is for ie8 and below */
     background: rgba(0, 0, 0, 0);
 }
.jumbotron h1{
    font-size: 24px;
    color: black;
}
.jumbotron h4, h5{
    color: black;
}
.h3{
    color: black;
}
.tab-margin{
    margin: 15px;
}
.form-margin{
    margin: 20px;

}
.items{
    border: solid #ccc 1px;
    width: 100%;
}
.alert-msg h3{
    color: black;
}

.file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.file-input:before {
    content: 'Browse';
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    margin: -3px 0 -3px -3px;
    padding: 2px 10px;
}

.hidden{
    visibility: hidden;
}

.divborder{
    align-items: baseline;
    text-align: left;
    font-size: 20px;
    border: 5px solid;
    border-color: black;
    color: black;
    padding: 10px;
    margin: auto;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

.loading{
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 200px;
    height: 200px;
    margin: auto;
}

.select{
    font-size: 20px;
    min-width: 380px;
    max-width: 600px;
}

.selecterror{
    border: 2px solid red;
}